<div *ngIf="account?.attributes">
  <app-identicon [accountId]="account.attributes.id"></app-identicon>
  <div class="address-info">
    <div class="name">
      <ng-container *ngIf="account.attributes.identity_display">
        <i *ngIf="account.attributes.identity_judgement_good > 0" class="fa fa-check-circle" style="color: forestgreen" title="{{ account.attributes.identity_judgement_good }} positive judgements"></i>
        <i *ngIf="account.attributes.identity_judgement_bad > 0" class="fa fa-minus-circle" style="color: brown" title="{{ account.attributes.identity_judgement_bad }} negative judgements"></i>
        <i *ngIf="account.attributes.identity_judgement_good == 0 && account.attributes.identity_judgement_bad == 0" class="fa fa-minus-circle" style="color: gray" title="No judgements provided"></i>
      </ng-container>
      {{ getDisplayName() }}
    </div>
    <div class="index">{{ getIndex() }}</div>
  </div>
</div>
