
.explore-westend {
  .button.is-primary {
    background-color: #da68a7;
  }

  .network-icon {
    color: #da68a7;
  }

  .button.is-primary:hover {
    background-color: #ba4887;
  }
}

.explore-kusama {
  .button.is-primary {
    background-color: #d32e79;
  }

  .network-icon {
    color: #d32e79;
  }

  .button.is-primary:hover {
    background-color: #d32e79;
  }
}

.explore-kulupu {
  .button.is-primary {
    background-color: #003366;
  }

  .network-icon {
    color: #003366;
  }

  .button.is-primary:hover {
    background-color: #003366;
  }
}

.explore-miniplasm {
  .button.is-primary {
    background-color: #185eb4;
  }

  .network-icon {
    color: #185eb4;
  }

  .button.is-primary:hover {
    background-color: #185eb4;
  }
}

.explore-nodle {
  .button.is-primary {
    background-color: #02ba88;
  }

  .network-icon {
    color: #02ba88;
  }

  .button.is-primary:hover {
    background-color: #02ba88;
  }
}

.explore-acala {
  .button.is-primary {
    background-color: #fd9080;
  }

  .network-icon {
    color: #fd9080;
  }

  .button.is-primary:hover {
    background-color: #fd9080;
  }
}

.explore-centrifuge {
  .button.is-primary {
    background-color: #fcc367;
  }

  .network-icon {
    color: #fcc367;
  }

  .button.is-primary:hover {
    background-color: #fcc367;
  }
}

.explore-edgeware {
  .button.is-primary {
    background-color: #0a95df;
  }

  .button.is-primary:hover {
    background-color: #0a95df;
  }

  .network-icon {
    color: #0a95df;
  }
}

.explore-edgeware-testnet {
  .button.is-primary {
    background-color: #0ac5ff;
  }

  .button.is-primary:hover {
    background-color: #0ac5ff;
  }

  .network-icon {
    color: #0ac5ff;
  }
}

.explore-robonomics {
  .button {
    background-color: #f15a24;
  }

  .button:hover {
    background-color: #f15a24;
  }

  .network-icon {
    color: #f15a24;
  }
}

.explore-joystream {
  .button {
    background-color: #00daaf;
  }

  .button:hover {
    background-color: #00daaf;
  }

  .network-icon {
    color: #00daaf;
  }
}

.explore-straightedge {
  .button {
    background-color: #8b0000;
  }

  .button:hover {
    background-color: #8b0000;
  }

  .network-icon {
    color: #8b0000;
  }
}

.explore-darwinia {
  .button {
    background-color: #9f2fad;
  }

  .button:hover {
    background-color: #9f2fad;
  }

  .network-icon {
    color: #9f2fad;
  }
}

.explore-other {
  .button {
    background-color: #999;
  }

  .button:hover {
    background-color: #999;
  }

  .network-icon {
    color: #999;
  }
}

.network-overview {
  margin-top: 25px;
}

.card-image {
  padding: 0 50px;
}
