.transfer-out .fa-sign-out-alt {
  color: #b47d00;
}

.transfer-in .fa-sign-in-alt {
  color: #02977e;
}

.current-account {
  opacity: .3;
}

.tabs ul {width:100%;flex-direction:row;flex-wrap:wrap;}
